body{
    background:linear-gradient(to left  ,#00195A ,#4e7aac);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}



html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}


#flex{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#home{
    margin-left: 5px;
    box-shadow: 3px 3px 3px 3px black;
    background-color:#03532b ;
    margin-top: -8px;
    margin-left: 4px;

}

#casa{
    display: flex;
    justify-content: flex-start;
}






h1{
    text-align: center;

}

header{
    color: white;
    text-align: center;
    margin-top: 10px;
}


#exampleCheck1{
    margin-top: 15px;
}

.form-check-label{
    margin-top: 11px;
}


#img{
    margin-top: 10px;

}

#senha{
    margin-top: 10px;
}

#senha :hover{
    text-decoration: underline;
    color: blue;
}

a{
    text-decoration: none;
}

span :hover{
    text-decoration: underline;
    color: blue;
}


.password{
    color:black;
    font-weight: bolder;
}


#entrar{
    background-color:#03532b ;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 15px;
    width: 300px;
    box-shadow: 2px 2px 2px 2px black;
    margin-bottom: 10px;

}


#entrar:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}

#home:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}




#labor{
    color:white;
}


label{
    color:  #038820;
    font-weight: 600;
}
    

#show_Senha{
    cursor: pointer;

}

#show_Senha:hover{
    color: #f4f8f5;
    transform: scale(1.2);
    transition-duration: 0.8s;
}


