*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to left  ,#00195A ,#4e7aac);
    font-family: 'Josefin Sans', sans-serif;
    color:white
}

header > h1{
    text-align: left;
}

#Logo_principal{
    width: 350px;
    height: 100px;
}
.button_login{
    background-color: #03532b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    margin-left: 10px;
    cursor: pointer;
    float: right; 
    box-shadow: 3px 3px 3px 3px black
}

.button_login:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}

#navbarNav a{
    color: white;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}

  /* Add a color to the active/current link */
.nav-link:hover {
    background-color: #03532b;
    color: white;
    transition-duration: 0.5s;
    text-decoration: none;
}

#text_head{
    background-image: linear-gradient(to right, #03532b, rgb(2, 70, 99));
    min-width:0%;
    min-height: 100%;
    margin:0;
    padding: 50px;
    margin-top:50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#text_head p{
    margin-right: 150px;
}

#texto_head{
    width: 500px;
    margin-top: 50px;
    text-align: left;
    margin-left:50px ;
    font-size: 21px;
    font-weight: bold ;
    display:grid;
}

#text_head_text{
    font-size: 25px;
}

.hero_img{
    display: flex;

}


#button_test_gratis{
    padding: 8px;
    cursor:pointer;
    border: 2px solid green;
    border-radius: 25px;
    background-color: rgb(2, 70, 99);
    color: white;
}

#button_test_gratis:hover{
    background-color: #07a252;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    /* float:left; */
    padding: 0 10px;
    margin-right: 200px;
    text-align: center;
    margin: 1%;
    display: inline-block;
    

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 #cbe8ba;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color:rgb(2, 70, 99);
    color: white;
}

.flip-card-back {
    background-color: #03532b;
    color: white;
    transform: rotateY(180deg);
}

.img_card{
    width: 100px;
    height: 100px;
}

#Logo_principal{
    width: 350px;
    height: 100px;
}

#all_cards{
    display:flex;
    justify-content: center;
}

.label{
    color: white;
    margin-top: 5px ;
    margin-right: 10px;
}

#label_1{
    margin-bottom: 10px;
}
#label_2{
    margin-bottom: 10px;
}
#label_3{
    margin-bottom: 10px;
}

.input{
    border-radius: 5px;
    size:50px;
}

#formularios{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 150px;
}

.button_send{
    background-color: #03532b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    float: center; 
    box-shadow: 3px 3px 3px 3px black
}
.button_send:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}


/* @media screen{
    body{
        background:linear-gradient(to left  ,#00195A ,#4e7aac);
        font-family: 'Josefin Sans', sans-serif;
        color:white
    }
} */

@media (max-width: 966px) {
    /* .img-fluid{
        width: 700px;
        align-items: right;
        display: grid;
    } */

    .Logo_principal{
        width: 700px;
        align-items: right;
        display: grid;
    }
    /* .text_head p {
        font-size: 10px;
        justify-content: center;
        text-align: top;
        display: grid;
    } */
    .text_head button{
        font-size: 10px;
    }
    .text_head > p{
        display: grid;
        text-align: center;
    } 
}

@media (max-width: 866px) {
    .button_cadastro{
        margin-top: -30px ;
    }
    .header{
        display: grid;
        grid: 33% 33% 33%;
    }

    /* .text_head > p {
        font-size: 5px;
        justify-content: center;
        text-align: top;
        display: grid;
    } */

    .text_head > p{
        display: grid;
        text-align: center;
    } 
    .text_head > button{
        font-size: 5px;
    }

    .button_login{
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size:1rem;
        margin: 4px 2px;
        margin-left: 10px;
        cursor: pointer;
        float: right; 
        box-shadow: 3px 3px 3px 3px black
    }

    .flip-card-front > h1 {
        font-size: 20px;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
    }

    .flip-card-front > img {
        width: 70px;
        height: 70px;
    }

    .flip-card-back > h2{
        font-size: 20px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
    }
    .flip-card-back > p{
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }

}

/* TIRAR DUVIDA SOBRE ALINHAMENTO DO TEXTO QUANDO A IMAGEM SOME. TEXTO NÃO FICA CENTRALIZADO */
@media (max-width: 646px){
    .text_head > p{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .hero_img{
        display: none;
    }

    .flip-card-front > h1 {
        font-size: 20px;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
    }


    .flip-card-back > h2{
        font-size: 18px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
    }
    .flip-card-back > p{
        font-size: 13px;
        text-align: center;
        justify-content: center;
    }
}