<style>
    .conteiner {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    img {
        margin-bottom: 8px;
        background-color: rgb(145, 252, 145);
    }

</style>

<div class="container">
    <div class="mudar">
        <img src="https://joaoeudesc.github.io/projeto-crm-tera/frontend/Imagens/image-removebg-preview.png"/>
    </div>
    <br/>

    <p>Olá, {{nome}}.</p>

    

    <p>Você solicitou alteração de senha.</p>
    <span>
        Para realizar a troca, basta utilizar este token abaixo na página de reset de senha.
        <p>Token: {{token}}</p>
    </span>

    <p>Caso não tenha sido você que solicitou alteração de senha, basta ignorar este email.</p>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>CrmLobster</strong></h3>
</div>