<style>
    .conteiner {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    img {
        margin-bottom: 8px;
        
    }
</style>

<div class="container">
    <div>
        <img src="https://joaoeudesc.github.io/projeto-crm-tera/frontend/Imagens/image-removebg-preview.png"/>
    </div>

    <br/>

    <span>Olá, {{nome}}.</span>

    <p>Bem vindo ao crm tera, esperamos que tenha uma ótima experiência</p>

    <br/>
    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>CrmLobster</strong></h3>
</div>