body{
    background:linear-gradient(to left  ,#00195A ,#4e7aac);
    color: rgb(252, 249, 249);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}


header{
    text-align: center;
}

#RedefinirSenhaText{
    color: white;
    font-weight: 500;
    
}

h3{
    margin-top: 1.5rem;
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

button{
    background-color:#03532b ;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 1rem;
    width: 20rem;
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 0.8rem;
    transition: 2s;
    margin-bottom: 1.5rem;

}

button:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}

label{
    color:  #038820;
    font-weight: 600;
}

p{
    color: black;
    display: none;
    text-decoration: underline;
    font-weight: 900;
}



i{
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    color: black;
    top: 1.3rem;
    right:0.5rem;
    transition: 0.5s;
    
    
}
i:hover{
    transform: scale(1.1);
}

.alerta{
    display: none;
    text-decoration: none;
    text-align: center;
}