
body{
    background:linear-gradient(to left  ,#00195A ,#4e7aac);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}


h1{
    text-align: center;
}


h2{
    text-align: center;
    margin-top: 20px;
}

button{
    background-color:#03532b ;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 15px;
    width: 300px;
    text-align: center;
    margin-right: 25px;
    box-shadow: 2px 2px 2px 2px black;
}


#mover{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
}

#flex{
    margin-top: 50px;

}


#cadastrar{
    width: 200px;
    margin-top: 20px;
    margin-left: 2px;
    margin-bottom: 15px;
}

.container{
    margin-top: 50px;
}


button:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}

input{
    width: 50px;
}


.form-group{
    width: 20%;
}

#cadastrar{
    margin-left: 85px;
    
}

.col-md-4 {
    width: 60%;
    margin-left: 60px;
    
}


#help{
    color: rgb(0, 0, 0) ;
    font-weight: 900;


}
input{
    margin: 10px;
    padding: 10px;
}




span{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50px;

}

#flex{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}


#exampleCheck1{
    margin-top: 15px;
}

.form-check-label{
    margin-top: 11px;
}


label{
    color: #038820;
    font-weight: 600;
    margin-left: 5px;
}

.form-control{
    box-shadow: 2px 2px 2px 2px black;
    border: solid #1542b3;
}



#cadastro{
    margin: auto;
    margin-top: 20px;
    
}

#uperCase{
    color: rgb(12, 0, 0);
    display: none;
    text-decoration: underline;
    font-weight: 900;
}


#uperCaseConfirm{
    color: rgb(12, 0, 0);
    display: none;
    text-decoration: underline;
    font-weight: 900;
}



#MessageError{
    margin-top: 33px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px black;
    display: none;
    font-weight: bold;
    background-color: rgb(209, 107, 107);
    color: rgb(167, 1, 1);
}

#MessageEmailExist{
    text-align: center;
    margin-top: 33px;
    box-shadow: 1px 1px 1px 1px black;
    font-weight: bold;
    display: none;
    background-color: rgb(209, 107, 107);
    color: rgb(167, 1, 1);

}


@media(min-width:401px),(max-width:1200px){

    #cadastro{
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }
    .form-group{
        width: 40%;
        margin: auto;
    
    }
    }


    @media(max-width:663px){
        .botao_principal{
            margin-left: 15px;
        }
    }


    @media(max-width:549px){
        .SuperiorImputs{
            width: 200px;
            text-align: center;
        }
    }