body{
    background:linear-gradient(to left  ,#00195A ,#4e7aac);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}



html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}


#flex{
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
}

#textAlert{
    color: black;
    display: none;
    text-decoration: underline;
    font-weight: 900;
}



#home{
    margin-left: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    background-color:#03532b ;
    margin-top: -8px;
    margin-left: 4px;
    transition: 2s;

}

#casa{
    display: flex;
    justify-content: flex-start;
}



#MessageAlert{
    background-color: rgba(252, 144, 144, 0.753);
    color: black;
    text-align: center;
    width: 40rem;
    margin: auto;
    margin-top: 50px;
    display: none;
    
}
.fa-triangle-exclamation{
    color: red;
}

h1{
    text-align: center;

}

header{
    color: white;
    text-align: center;
    margin-top: 0.6rem;
}


#exampleCheck1{
    margin-top: 1rem;
}

.form-check-label{
    margin-top: 0.8rem;
}


#img{
    margin-top: 0.6rem;

}

#senha{
    margin-top: 0.6rem;
    transition: 2s;
}

a{
    text-decoration: none;
    transition: 0.2s;
}
a:hover{
    text-decoration: underline;
    color: blue;
}

.password{
    color:black;
    font-weight: bolder;
}


#entrar{
    background-color:#03532b ;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 1rem;
    width: 20rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    margin-bottom: 0.6rem;
    transition: 2s;

}

#entrar:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;
}


.iconeInputLeft{
    position: absolute;
    top: 1.3rem;
    left: 0.5rem;
    color: black;
    
}

#labor{
    color:white;
    display: flex;
}

.LabelInputs{
    margin-left: 1.5rem;
}

label{
    color: #038820;
    font-weight: 600;
}
input{
    text-indent: 1.5rem;
}

#show_Senha{
    cursor: pointer;
    color: black;
    position: absolute;
    top: 1.3rem;
    right:0.5rem;
    transition: 0.5s;
    
}

#show_Senha:hover{
    transform: scale(1.1);
}





@media(max-width:720px){
    #MessageAlert{
        width: 32rem;
    }
}



@media(max-width:540px){
    #MessageAlert{
        width: 18rem;
    }
}




