body{
    background:linear-gradient(to left  ,#00195A ,#4e7aac);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}



html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1{
    text-align: center;
}


h2{
    text-align: center;
}


#flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#redefinir{
    margin-top: 15px;
    text-align: center;
    width: 300px;
    background-color:#03532b ;
    color:white;
    padding: 10px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 2px 2px 2px 2px black;
    transition: 1s;
}

#redefinir:hover{
    background-color: #4ec286;
    transition-duration: 0.5s;
    text-decoration: none;

}

#senha{
    color: black;
    font-weight: bolder;
}

#senha:hover{
    text-decoration: underline;
    color: blue;
}


p{
    text-align: center;
    margin-top: 20px;
}



#inlineFormInputGroupUsername{
    box-shadow: 1px 1px 1px 1px black;
}


a{
    text-decoration: none;
}

input::placeholder{
    font-weight: 900;
    
}

.input-group-text{
    box-shadow: 1px 1px 1px 1px black;
}
















